body {
    margin: 0 auto;
    box-sizing: border-box;
    background: #ececec;
    font-family: sans-serif;
}

h1 {
    font-size: 3vw;
}

h3 {
    font-size: 1.2vw;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p {
    display: block;
    margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header {
    padding-bottom: 2vw;
}

.blogName {
    background: #233348;
    color: white;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    text-align: center;
    background: linear-gradient(-45deg, transparent 1vw, #1b2738 0) right, linear-gradient(45deg, transparent 1vw, #1b2738 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    width: 24vw;
    padding: 1vw;
    margin-left: auto;
    margin-right: auto;
}

.navbarButton {
    border: none;
    background: none;
    color: white;
    font-size: 1.2vw;
}

.auth {
    padding-left: 4vw;
}

.content {
    margin: 0vw 4vw 0vw 8vw;
}

.conteiner {
    margin: 4vw 4vw 4vw 4vw;
    font-size: 1.1vw;
}

.block {
    float: left;
    width: 25vw;
    height: 25vw;
    background: #ECECEC;
    padding: 1vw;
    position: relative;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.json {
    color: #5f666f;
}

.pd {
    padding: 0;
    width: 27vw;
    height: 27vw;
}

.title {
    font-size: 1.2vw;
    color: white;
    background: #233348;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.from {
    position: absolute;
    top: 22vw;
    font-size: 1.2vw;
    color: white;
    background: #68717b;
    height: 5vw;
    width: 25.5vw;
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
}

.mail {
    position: relative;
    top: 10vw;
}

.layer {
    overflow: auto;
    width: 25vw;
    height: 25vw;
}

.upload {
    position: absolute;
    top: 28vw;
}

.text {
    font-size: 1vw;
}

.inputJson {
    float: left;
    width: 27vw;
    height: 27vw;
    background: white;
    position: relative;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    resize: none;
    top: -1vw;
}

.file {
    position: relative;
    left: 1.5vw
}