<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

<body>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #233348;
  color: white;
}
</style>
<header>
    <div class="blogName">
        <h1>Mail Sender Application</h1>

    </div>
    <div class="navbar">
        <button class="navbarButton" onclick="window.location.href = '/home'">Home</button>
        <button class="navbarButton" onclick="window.location.href = '/'">Send</button>
        <button class="navbarButton" onclick="window.location.href = '/history'"> History</button>


    </div>
</header>

<table class="table table-striped table-responsive-md" border=1px>
    <thead>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>Subject</th>
        <th>text</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td th:text="${message.recipientId}"></td>
        <td th:text="${message.recipientEmail}"></td>
        <td th:text="${message.recipientSubject}"></td>
        <td th:text="${message.recipientText}"></td>
        <td th:text="${message.authorName}"></td>

    </tr>
    </tbody>
</table>


</div>
</body>

</html>

