<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

<body>
<header>
    <div class="blogName">
        <h1>Mail Sender Application</h1>
    </div>
    <div class="navbar">
        <button class="navbarButton" onclick="window.location.href = '/home'">Home</button>
        <button class="navbarButton" onclick="window.location.href = '/'">Send</button>
        <button class="navbarButton" onclick="window.location.href = '/history'"> History</button>


    </div>
</header>



<div> <p>Hello, [[${usern}]] this is your Home page</p></div>
<div> <p>On this page you can see your Email and change your password (coming soon)</p></div>

<div><p>Your Email : [[${emails}]]</p></div>
<div><p>Your Roles : [[${roless}]]</p></div>

<div>
    <p>Send mails from your email adress</p>
    <form action="#" th:action="@{/set}" method="post">
        <p>Email</p>
        <input type="email" name="email">
        <p>password</p>
        <input type="password" name="password">
        <button type="submit">Save</button>
    </form></div>

<form action="#"  th:action="@{/default}" method="post">
<button >Set default email</button>
</form>



<div th:if="${message} != null">
<script th:inline="javascript"> /*<![CDATA[*/ var message = [[${message}]]; alert(message); /*]]>*/ </script>
</div>
</div>
</body>

</html>

