<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

<body>
<header>
    <div class="blogName">
        <h1>Mail Sender Application</h1>
    </div>
    <div class="navbar">
        <button class="navbarButton" onclick="window.location.href = '/home'">Home</button>
        <button class="navbarButton" onclick="window.location.href = '/'">Send</button>
        <button class="navbarButton" onclick="window.location.href = '/history'"> History</button>


    </div>
</header>


<div class="content">
    <div class="sidebar">

    </div>

    <div class="block pd">


            <div th:utext="${htmls}"></div>



        <button class="mail" form="bled" th:formaction="@{/send}">Send mail</button>
    </div>

    <!--style="float: left;"-->
    <form id="bled" method="post">
        <p style="float: left;"><textarea class="inputJson" rows="5" cols="80" name="jsone" ></textarea></p>

        <!--        <form action="#"  method="post"></form>-->
        <p style="float: left;"><textarea  class="inputJson"  rows="5" cols="80" name="html" ></textarea></p>
<!--        onkeydown="javascript: document.location.href = '/show'"-->
    </form>
    <button style="float: left;" form="bled" th:formaction="@{/show}" >SHOW HTML</button>
<!--    <button form="form_ID" formaction="/show">SHOW HTML</button>-->
</div>
</body>

</html>