<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>

<head>
    <meta charset="UTF-8">
    <title> Login page</title>

</head>
<body>
<p>[[${message}]]</p>
<div class="login-box">
    <img th:src="@{/css/avatar.png}" class="avatar">
    <h1>Login Here</h1>
    <form  th:action="@{/login}" method="post">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" name="submit" value="Login">
        <a th:href="@{/registration}">Registrations</a>
    </form>


</div>

</body>
</html>