<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>

<head>
    <meta charset="UTF-8">
    <title> Registration page </title>

</head>
<body>
<p>[[${message}]]</p>
<div class="login-box">
    <img th:src="@{/css/avatar.png}" class="avatar">
    <h1>Registration new usera</h1>
    <form th:action="@{/registration}" method="post">
        <p>Username</p>
        <input type="text" name="username" placeholder="Username">
        <p>Password</p>
        <input type="password" name="password" placeholder="Password">
        <p>Email</p>
        <input type="email" name="email" placeholder="Email">

        <button type="submit" > Save</button>

    </form>



</div>

</body>
</html>